{% extends "base.html" %}
{% block content %}
<div class="editor-page">
    <div class="container box mt-4">
        <div class="columns">
            <div class="column">
                <div class="columns is-flex is-vcentered">
                    <div class="column is-narrow">
                        <h5 class="is-size-5 has-text-weight-semibold">{% if fund_type == 'INCOMING' %}Внести средства на счёт{% else %}Снять средства со счёта{% endif %}  компании {{ wallet.trader.full_name}}</h5>
                    </div>
                    <div class="column is-narrow">
                        <div class="buttons">
                            <a href="{% url 'fund_list' wallet.id %}" class="button is-small is-outlined is-rounded">Назад</a>
                        </div>  
                    </div>
                </div>
                {% include "wallets/_fund_form.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}