<div id="company-detail-view">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <tbody>
            <tr>
                <td style="width:25%;"><label class="label">Роль</label></td>
                <td>{{ company.get_type_display }}</td>
            </tr>
            <tr>
                <td><label class="label">Название</label></td>
                <td>{{ company.full_name }}</td>
            </tr>
            <tr>
                <td><label class="label">БИН</label></td>
                <td>{{ company.bin }}</td>
            </tr>
            <tr>
                <td><label class="label">Адрес</label></td>
                <td>{{ company.country.value }}, {{ company.postal_code.value }}, {{ company.address.value }}</td>
            </tr>
            <tr>
                <td><label class="label">E-mail</label></td>
                <td>{{ company.email.value }}</td>
            </tr>
            <tr>
                <td><label class="label">Телефон</label></td>
                <td>{{ company.phone.value }}</td>
            </tr>
            <tr>
                <td><label class="label">Контактное лицо</label></td>
                <td>{{ company.person.value }}</td>
            </tr>
            <tr>
                <td><label class="label">Статус</label></td>
                <td>{{ company.get_status_display }}</td>
            </tr>
        </tbody>
    </table>
</div>

