{% extends "base.html" %}
{% block content %}
<div class="list-page" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="container box mt-4">
        <div class="columns">
            <div class="column">

                <div class="columns is-flex is-vcentered">
                    <div class="column is-narrow">
                        <h5 class="is-size-5 has-text-weight-semibold">Компании</h5>
                    </div>
                    <div class="column is-one-quarter">
                        <form 
                            hx-get="{% url 'company_list_search' %}" 
                            hx-target="#company-list"
                            hx-trigger="submit, input delay:0.3s" 
                            hx-swap="outerHTML">

                            <div class="control">
                                <input name="search" type="text" class="input" placeholder="Телефон, ИИН, БИН, ФИО" />
                            </div>
                        </form>                          
                    </div>
                </div>

                
                
                {% include "companies/_company_list.html" %}

                <!-- <hr> -->

                <!-- <div class="columns">
                    <div class="column is-one-quarter">
                        <div class="control">
                            <input name="from" type="text" class="input datetime" placeholder="Добавлен с" />
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="control">
                            <input name="to" type="text" class="input datetime" placeholder="Добавлен по" />
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <button class="button is-link">
                            <span class="icon">
                                <ion-icon name="cloud-download-outline"></ion-icon>
                            </span> 
                            <span>Выгрузить</span>
                        </button>
                    </div>

                </div> -->

            </div>

        </div>
    </div>
</div>

<script>
flatpickr('.datetime', {locale: 'ru', dateFormat: 'd.m.Y'});
</script>

{% endblock content %}


