{% extends "base.html" %}
{% block content %}
<div class="editor-page">
    <div class="container box mt-4">
        <div class="columns">
            <div class="column">
                <div class="columns is-flex is-vcentered">
                    <div class="column is-narrow">
                        <h5 class="is-size-5 has-text-weight-semibold">{{ company|yesno:"Редактировать,Добавить" }} клиента</h5>
                    </div>
                    <div class="column is-narrow">
                        {% if company %}
                        <div class="buttons">
                            <a href="{% url 'company_detail' company.id %}" class="button is-small is-outlined is-rounded">Назад</a>
                        </div>  
                        {% endif %}  
                    </div>
                </div>
                {% include "companies/_company_form.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}