<div id="client-list">
    <div class="table-container">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Роль</th>
                    <th>Название</th>
                    <th>БИН</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% if clients %}
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.get_type_display }}</td>
                            <td><a href="{% url 'client_detail' client.id %}">{{ client.name }}</a></td>
                            <td>{{ client.bin|default_if_none:"--" }}</td>
                            <td>{{ client.get_status_display }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="9">Ничего не найдено</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <nav class="pagination is-right" role="navigation" aria-label="pagination">
        {% if clients.has_previous  %}
            <a class="pagination-previous"
                hx-get="{% url 'client_list_search' %}" 
                hx-trigger="click"
                hx-target="#client-list"
                hx-swap="outerHTML"
                hx-vals='{"page": "{{ clients.previous_page_number }}", "search": "{{ search }}"}'
                >Пред.
            </a>
        {% else %}
            <a class="pagination-previous is-disabled">Пред.</a>
        {% endif %}
        
        {% if clients.has_next %}
            <a class="pagination-next"
                hx-get="{% url 'client_list_search' %}" 
                hx-trigger="click"
                hx-target="#client-list"
                hx-swap="outerHTML"
                hx-vals='{"page": "{{ clients.next_page_number }}", "search": "{{ search }}"}'
                >След.
            </a>
        {% else %}
            <a class="pagination-next is-disabled">След.</a>
        {% endif %}
        <ul class="pagination-list"></ul>
    </nav>

    {% if clients.paginator.count %}
        <div class="block">
            {{ clients.start_index }} - {{ clients.end_index }} из {{ clients.paginator.count }}
        </div>
    {% endif %}
    
</div>