{% extends "base.html" %}
{% block content %}
<div class="article-page" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="container py-4">
        <div class="columns">
            <div class="column">

                <div class="columns is-flex is-vcentered">
                    <div class="column is-narrow">
                        <h5 class="is-size-5 has-text-weight-semibold">Клиент</h5>
                    </div>
                    <div class="column is-narrow">
                        <div class="buttons" x-data="{ status: '{{ client.status }}' }">
                            <a href="{% url 'client_list' %}" class="button is-small is-outlined is-rounded">Назад</a>
                            <a href="{% url 'edit_client' client.id %}" class="button is-small is-link is-outlined is-rounded">Редактировать</a>
                            <a class="button is-small is-link is-outlined is-rounded"
                                hx-get="{% url 'activate_client' client.id %}"
                                hx-push-url="false"
                                hx-target="#client-detail-view"
                                hx-swap="outerHTML"
                                x-on:click="status = status == 'BLOCKED' || status == 'REVIEW' ? 'ACTIVE' : 'BLOCKED'" 
                                x-text="status == 'BLOCKED' || status == 'REVIEW' ? 'Активировать' : 'Заблокировать'">
                            </a>
                        </div>    
                    </div>
                    
                </div>

                {% include "clients/_client.html" %}

                <div class="columns is-flex is-vcentered">
                    <div class="column is-narrow">
                        <h5 class="is-size-5 has-text-weight-semibold">Банковские счёты</h5>
                    </div>
                    <div class="column is-narrow">
                        <a href="{% url 'create_bank_accounts' client.id %}" class="button is-small is-primary is-outlined is-rounded">Добавить</a>
                    </div>
                </div>

                <div class="table-container">
                    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Тип счета</th>
                                <th>Название банка</th>
                                <th>Адрес банка</th>
                                <th>BIC</th>
                                <th>IBAN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if bank_accounts %}
                                {% for account in bank_accounts %}
                                    <tr>
                                        <td>{{ account.get_type_display }}</td>
                                        <td>{{ account.bank_name }}</td>
                                        <td>{{ account.bank_address }}</td>
                                        <td>{{ account.bic }}</td>
                                        <td>{{ account.iban }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="5">Ничего не найдено</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                

            </div>
        </div>
    </div>
</div>
{% endblock content %}
